* {
  margin: 0;
  padding: 0;
}

/* First Section */
.banner {
  background-image: url('../resources/Banner\ Image.png');
  background-repeat: no-repeat;
  /* background-size:unset; */
  background-position: center;
  /* max-width: 500px; */
  background-size: auto;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 0;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 42px;
  font-weight: 400;
  padding-top: 217px;
  padding-left: 530px;
  padding-right: 531px;
  padding-bottom: 0px;
}

.title-des {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding-top: 20px;
  padding-left: 344px;
  padding-right: 344px;
  padding-bottom: 117px;
}

/* 2nd Section */
.Scnd-section {
  background-position: center;
}

.Scnd-title {
  text-align: center;
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  /* padding-top: 120px; */
  padding-top: 120px;
}

.Scnd-title-sub {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 48px;
}

.Scnd-title-discription {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-top: 16px;
}

.Scnd-title-image {
  text-align: center;
  padding-top: 48px;
}

/* Third Section */
.Third-Section{
  background-position: center;
  display: flex;
}
.thrd-bg-image {
  background-image: url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  background-size:auto;
  height: 600px;
  width: 1320px;
  background-position: center;
}
.third-title{
  color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
padding-top: 126px;
padding-left: 126px;
}
.third-para{
  color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
padding-top: 24px;
padding-left: 126px;
}
.third-button{
  color: #FFF;
  background: none;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
padding: 0;
border: none;
margin-left: 158px;
margin-top: 48px;
}
.two-zero{
 text-align: right;
 padding-top: 68.11px;
 padding-right: 138px;
 margin-bottom: 67.23px;

}
/* fourth section */
.fourth-section{
 height: 482px;
 width: 1320px;
 background-color: rgb(224, 211, 211);
 margin-top: 120px;
}
#place{
  color: red;
}
#date{
  color: red;
}
#time{
color: red;
}

.forth-title{
  padding-top: 100px;
  text-align: center;
  padding-left: 385px;
  padding-right: 386px;
}
.fourth-button{
  /* background-color: #f00; */
  text-align: center;
  margin-top:  64px;
  margin-left: 608px;
  /* margin-right: 609px; */
  border: 0;
  color: white;
  background-color: red;
  padding: 16px 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;

}